* {
  margin: 0;
  padding: 0;
}
.game {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background: #000;
  cursor: url('rocket.png') 35 0, pointer;
  text-align: center;
  position: relative;
}
.game h1 {
  font-family: Georgia;
  font-size: 28px;
  color: #444;
  text-shadow: 1px 1px 1px #fff;
  padding-top: 10px;
}
.game #status {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
}
.game #status span.active {
  display: none;
}
.game #status span.inactive {
  display: inline;
}
.game:hover #status span.active {
  display: inline;
}
.game:hover #status span.inactive {
  display: none;
}
.circle {
  background-color: #ffffff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* width and height can be anything, as long as they're equal */

}
.moon {
  background: #fff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 5px;
  margin-top: 15px;
  position: absolute;
  top: -50%;
  left: 0;
  /*box-shadow: 4px 4px 4px #ccc;*/

}
.moon:before {
  background: #ccc;
  border-radius: 24px 8px 26px 12px;
  content: "";
  height: 30px;
  margin: 30px 0 0 -7px;
  position: absolute;
  width: 30px;
  /*box-shadow: 4px 4px 4px #ccc;*/

}
.moon:after {
  background: #999;
  border-radius: 50%;
  content: "";
  height: 20px;
  margin: 2px 0 0 2px;
  position: absolute;
  width: 20px;
  /*box-shadow: 4px 4px 4px #ccc;*/

}
.moonBig {
  height: 30px;
  width: 40px;
}
.moonBig:before {
  height: 60px;
  width: 100px;
  margin-top: -30px;
}
.moonBig:after {
  height: 40px;
  width: 60px;
  margin-top: -10px;
  margin-left: 80px;
}
.game .moon:hover {
  border-radius: 0;
  margin: 0;
  height: 600px;
  width: 400px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #ff0000;
  overflow: visible;
  cursor: not-allowed;
  animation: animation1 0s 0s linear !important;
  animation: animation2 0s 0s linear !important;
  animation: animation3 0s 0s linear !important;
  animation: animation4 0s 0s linear !important;
  animation: animation5 0s 0s linear !important;
  animation: animation6 0s 0s linear !important;
  animation: animation7 0s 0s linear !important;
  animation: animation8 0s 0s linear !important;
  animation: animation9 0s 0s linear !important;
  animation: animation10 0s 0s linear !important;
}
.game .moon:hover:before {
  background: red;
  content: "Oh no, a moon hit Earth GAME OVER! Refresh to retry.";
  top: 100px;
  left: 0;
  width: 400px;
  color: #fff;
  text-shadow: 1px 1px 1px #aaa;
  box-shadow: none;
}
.game .moon:hover:after {
  display: none;
}
.game #moon_01 {
  -webkit-animation: animation1 6s 0s linear;
  -moz-animation: animation1 6s 0s linear;
  -ms-animation: animation1 6s 0s linear;
  -o-animation: animation1 6s 0s linear;
  animation: animation1 6s 0s linear;
}
.game #moon_02 {
  -webkit-animation: animation2 5s 2s linear;
  -moz-animation: animation2 5s 2s linear;
  -ms-animation: animation2 5s 2s linear;
  -o-animation: animation2 5s 2s linear;
  animation: animation2 5s 2s linear;
}
.game #moon_03 {
  -webkit-animation: animation3 3s 3s linear;
  -moz-animation: animation3 3s 3s linear;
  -ms-animation: animation3 3s 3s linear;
  -o-animation: animation3 3s 3s linear;
  animation: animation3 3s 3s linear;
}
.game #moon_04 {
  -webkit-animation: animation4 6s 4s linear;
  -moz-animation: animation4 6s 4s linear;
  -ms-animation: animation4 6s 4s linear;
  -o-animation: animation4 6s 4s linear;
  animation: animation4 6s 4s linear;
}
.game #moon_05 {
  -webkit-animation: animation5 4s 5s linear;
  -moz-animation: animation5 4s 5s linear;
  -ms-animation: animation5 4s 5s linear;
  -o-animation: animation5 4s 5s linear;
  animation: animation5 4s 5s linear;
}
.game #moon_06 {
  -webkit-animation: animation2 3s 6s linear;
  -moz-animation: animation2 3s 6s linear;
  -ms-animation: animation2 3s 6s linear;
  -o-animation: animation2 3s 6s linear;
  animation: animation2 3s 6s linear;
}
.game #moon_07 {
  -webkit-animation: animation7 2s 8s linear;
  -moz-animation: animation7 2s 8s linear;
  -ms-animation: animation7 2s 8s linear;
  -o-animation: animation7 2s 8s linear;
  animation: animation7 2s 8s linear;
}
.game #moon_08 {
  -webkit-animation: animation4 5s 8s linear;
  -moz-animation: animation4 5s 8s linear;
  -ms-animation: animation4 5s 8s linear;
  -o-animation: animation4 5s 8s linear;
  animation: animation4 5s 8s linear;
}
.game #moon_09 {
  -webkit-animation: animation8 3s 9s linear;
  -moz-animation: animation8 3s 9s linear;
  -ms-animation: animation8 3s 9s linear;
  -o-animation: animation8 3s 9s linear;
  animation: animation8 3s 9s linear;
}
.game #moon_10 {
  -webkit-animation: animation6 4s 10s linear;
  -moz-animation: animation6 4s 10s linear;
  -ms-animation: animation6 4s 10s linear;
  -o-animation: animation6 4s 10s linear;
  animation: animation6 4s 10s linear;
}
.game:hover #moon_11 {
  -webkit-animation: animation1 6s 10s linear;
  -moz-animation: animation1 6s 10s linear;
  -ms-animation: animation1 6s 10s linear;
  -o-animation: animation1 6s 10s linear;
  animation: animation1 6s 10s linear;
}
.game:hover #moon_12 {
  -webkit-animation: animation6 4s 11s linear;
  -moz-animation: animation6 4s 11s linear;
  -ms-animation: animation6 4s 11s linear;
  -o-animation: animation6 4s 11s linear;
  animation: animation6 4s 11s linear;
}
.game:hover #moon_13 {
  -webkit-animation: animation2 8s 12s linear;
  -moz-animation: animation2 8s 12s linear;
  -ms-animation: animation2 8s 12s linear;
  -o-animation: animation2 8s 12s linear;
  animation: animation2 8s 12s linear;
}
.game:hover #moon_14 {
  -webkit-animation: animation9 4s 13s linear;
  -moz-animation: animation9 4s 13s linear;
  -ms-animation: animation9 4s 13s linear;
  -o-animation: animation9 4s 13s linear;
  animation: animation9 4s 13s linear;
}
.game:hover #moon_15 {
  -webkit-animation: animation3 5s 13s linear;
  -moz-animation: animation3 5s 13s linear;
  -ms-animation: animation3 5s 13s linear;
  -o-animation: animation3 5s 13s linear;
  animation: animation3 5s 13s linear;
}
.game:hover #moon_16 {
  -webkit-animation: animation10 7s 14s linear;
  -moz-animation: animation10 7s 14s linear;
  -ms-animation: animation10 7s 14s linear;
  -o-animation: animation10 7s 14s linear;
  animation: animation10 7s 14s linear;
}
.game:hover #moon_17 {
  -webkit-animation: animation7 3s 15s linear;
  -moz-animation: animation7 3s 15s linear;
  -ms-animation: animation7 3s 15s linear;
  -o-animation: animation7 3s 15s linear;
  animation: animation7 3s 15s linear;
}
.game:hover #moon_18 {
  -webkit-animation: animation3 5s 16s linear;
  -moz-animation: animation3 5s 16s linear;
  -ms-animation: animation3 5s 16s linear;
  -o-animation: animation3 5s 16s linear;
  animation: animation3 5s 16s linear;
}
.game:hover #moon_19 {
  -webkit-animation: animation6 4s 16s linear;
  -moz-animation: animation6 4s 16s linear;
  -ms-animation: animation6 4s 16s linear;
  -o-animation: animation6 4s 16s linear;
  animation: animation6 4s 16s linear;
}
.game:hover #moon_20 {
  -webkit-animation: animation1 3s 17s linear;
  -moz-animation: animation1 3s 17s linear;
  -ms-animation: animation1 3s 17s linear;
  -o-animation: animation1 3s 17s linear;
  animation: animation1 3s 17s linear;
}
.game:hover #moon_21 {
  -webkit-animation: animation2 4s 17s linear;
  -moz-animation: animation2 4s 17s linear;
  -ms-animation: animation2 4s 17s linear;
  -o-animation: animation2 4s 17s linear;
  animation: animation2 4s 17s linear;
}
.game:hover #moon_22 {
  -webkit-animation: animation1 5s 18s linear;
  -moz-animation: animation1 5s 18s linear;
  -ms-animation: animation1 5s 18s linear;
  -o-animation: animation1 5s 18s linear;
  animation: animation1 5s 18s linear;
}
.game:hover #moon_23 {
  -webkit-animation: animation4 9s 19s linear;
  -moz-animation: animation4 9s 19s linear;
  -ms-animation: animation4 9s 19s linear;
  -o-animation: animation4 9s 19s linear;
  animation: animation4 9s 19s linear;
}
.game:hover #moon_24 {
  -webkit-animation: animation9 2s 20s linear;
  -moz-animation: animation9 2s 20s linear;
  -ms-animation: animation9 2s 20s linear;
  -o-animation: animation9 2s 20s linear;
  animation: animation9 2s 20s linear;
}
.game:hover #moon_25 {
  -webkit-animation: animation7 3s 20s linear;
  -moz-animation: animation7 3s 20s linear;
  -ms-animation: animation7 3s 20s linear;
  -o-animation: animation7 3s 20s linear;
  animation: animation7 3s 20s linear;
}
.game:hover #moon_26 {
  -webkit-animation: animation1 5s 20s linear;
  -moz-animation: animation1 5s 20s linear;
  -ms-animation: animation1 5s 20s linear;
  -o-animation: animation1 5s 20s linear;
  animation: animation1 5s 20s linear;
}
.game:hover #moon_27 {
  -webkit-animation: animation9 6s 21s linear;
  -moz-animation: animation9 6s 21s linear;
  -ms-animation: animation9 6s 21s linear;
  -o-animation: animation9 6s 21s linear;
  animation: animation9 6s 21s linear;
}
.game:hover #moon_28 {
  -webkit-animation: animation3 3s 22s linear;
  -moz-animation: animation3 3s 22s linear;
  -ms-animation: animation3 3s 22s linear;
  -o-animation: animation3 3s 22s linear;
  animation: animation3 3s 22s linear;
}
.game:hover #moon_29 {
  -webkit-animation: animation6 4s 23s linear;
  -moz-animation: animation6 4s 23s linear;
  -ms-animation: animation6 4s 23s linear;
  -o-animation: animation6 4s 23s linear;
  animation: animation6 4s 23s linear;
}
.game:hover #moon_30 {
  -webkit-animation: animation4 5s 24s linear;
  -moz-animation: animation4 5s 24s linear;
  -ms-animation: animation4 5s 24s linear;
  -o-animation: animation4 5s 24s linear;
  animation: animation4 5s 24s linear;
}
.game:hover #moon_31 {
  -webkit-animation: animation9 4s 24s linear;
  -moz-animation: animation9 4s 24s linear;
  -ms-animation: animation9 4s 24s linear;
  -o-animation: animation9 4s 24s linear;
  animation: animation9 4s 24s linear;
}
.game:hover #moon_32 {
  -webkit-animation: animation6 2s 25s linear;
  -moz-animation: animation6 2s 25s linear;
  -ms-animation: animation6 2s 25s linear;
  -o-animation: animation6 2s 25s linear;
  animation: animation6 2s 25s linear;
}
.game:hover #moon_33 {
  -webkit-animation: animation3 3s 26s linear;
  -moz-animation: animation3 3s 26s linear;
  -ms-animation: animation3 3s 26s linear;
  -o-animation: animation3 3s 26s linear;
  animation: animation3 3s 26s linear;
}
.game:hover #moon_34 {
  -webkit-animation: animation4 5s 26s linear;
  -moz-animation: animation4 5s 26s linear;
  -ms-animation: animation4 5s 26s linear;
  -o-animation: animation4 5s 26s linear;
  animation: animation4 5s 26s linear;
}
.game:hover #moon_35 {
  -webkit-animation: animation10 8s 27s linear;
  -moz-animation: animation10 8s 27s linear;
  -ms-animation: animation10 8s 27s linear;
  -o-animation: animation10 8s 27s linear;
  animation: animation10 8s 27s linear;
}
.game:hover #moon_36 {
  -webkit-animation: animation2 3s 27s linear;
  -moz-animation: animation2 3s 27s linear;
  -ms-animation: animation2 3s 27s linear;
  -o-animation: animation2 3s 27s linear;
  animation: animation2 3s 27s linear;
}
.game:hover #moon_37 {
  -webkit-animation: animation7 2s 28s linear;
  -moz-animation: animation7 2s 28s linear;
  -ms-animation: animation7 2s 28s linear;
  -o-animation: animation7 2s 28s linear;
  animation: animation7 2s 28s linear;
}
.game:hover #moon_38 {
  -webkit-animation: animation4 5s 28s linear;
  -moz-animation: animation4 5s 28s linear;
  -ms-animation: animation4 5s 28s linear;
  -o-animation: animation4 5s 28s linear;
  animation: animation4 5s 28s linear;
}
.game:hover #moon_39 {
  -webkit-animation: animation1 3s 29s linear;
  -moz-animation: animation1 3s 29s linear;
  -ms-animation: animation1 3s 29s linear;
  -o-animation: animation1 3s 29s linear;
  animation: animation1 3s 29s linear;
}
.game:hover #moon_40 {
  -webkit-animation: animation6 4s 30s linear;
  -moz-animation: animation6 4s 30s linear;
  -ms-animation: animation6 4s 30s linear;
  -o-animation: animation6 4s 30s linear;
  animation: animation6 4s 30s linear;
}
.game:hover #moon_41 {
  -webkit-animation: animation9 4s 24s linear;
  -moz-animation: animation9 4s 24s linear;
  -ms-animation: animation9 4s 24s linear;
  -o-animation: animation9 4s 24s linear;
  animation: animation9 4s 24s linear;
}
.game:hover #moon_42 {
  -webkit-animation: animation6 2s 25s linear;
  -moz-animation: animation6 2s 25s linear;
  -ms-animation: animation6 2s 25s linear;
  -o-animation: animation6 2s 25s linear;
  animation: animation6 2s 25s linear;
}
.game:hover #moon_43 {
  -webkit-animation: animation3 3s 26s linear;
  -moz-animation: animation3 3s 26s linear;
  -ms-animation: animation3 3s 26s linear;
  -o-animation: animation3 3s 26s linear;
  animation: animation3 3s 26s linear;
}
.game:hover #moon_44 {
  -webkit-animation: animation4 5s 26s linear;
  -moz-animation: animation4 5s 26s linear;
  -ms-animation: animation4 5s 26s linear;
  -o-animation: animation4 5s 26s linear;
  animation: animation4 5s 26s linear;
}
.game:hover #moon_45 {
  -webkit-animation: animation10 8s 27s linear;
  -moz-animation: animation10 8s 27s linear;
  -ms-animation: animation10 8s 27s linear;
  -o-animation: animation10 8s 27s linear;
  animation: animation10 8s 27s linear;
}
.game:hover #moon_46 {
  -webkit-animation: animation2 3s 27s linear;
  -moz-animation: animation2 3s 27s linear;
  -ms-animation: animation2 3s 27s linear;
  -o-animation: animation2 3s 27s linear;
  animation: animation2 3s 27s linear;
}
.game:hover #moon_47 {
  -webkit-animation: animation7 2s 28s linear;
  -moz-animation: animation7 2s 28s linear;
  -ms-animation: animation7 2s 28s linear;
  -o-animation: animation7 2s 28s linear;
  animation: animation7 2s 28s linear;
}
.game:hover #moon_48 {
  -webkit-animation: animation4 5s 28s linear;
  -moz-animation: animation4 5s 28s linear;
  -ms-animation: animation4 5s 28s linear;
  -o-animation: animation4 5s 28s linear;
  animation: animation4 5s 28s linear;
}
.game:hover #moon_49 {
  -webkit-animation: animation1 3s 29s linear;
  -moz-animation: animation1 3s 29s linear;
  -ms-animation: animation1 3s 29s linear;
  -o-animation: animation1 3s 29s linear;
  animation: animation1 3s 29s linear;
}
.game:hover #moon_50 {
  -webkit-animation: animation6 4s 30s linear;
  -moz-animation: animation6 4s 30s linear;
  -ms-animation: animation6 4s 30s linear;
  -o-animation: animation6 4s 30s linear;
  animation: animation6 4s 30s linear;
}
/* animations */
@-webkit-keyframes animation1 {
  0% {
    left: 260px;
    top: -10%;
  }
  100% {
    left: 260px;
    top: 100%;
  }
}
@-moz-keyframes animation1 {
  0% {
    left: 260px;
    top: -10%;
  }
  100% {
    left: 260px;
    top: 100%;
  }
}
@-ms-keyframes animation1 {
  0% {
    left: 260px;
    top: -10%;
  }
  100% {
    left: 260px;
    top: 100%;
  }
}
@-o-keyframes animation1 {
  0% {
    left: 260px;
    top: -10%;
  }
  100% {
    left: 260px;
    top: 100%;
  }
}
@keyframes animation1 {
  0% {
    left: 260px;
    top: -10%;
  }
  100% {
    left: 260px;
    top: 100%;
  }
}
@-webkit-keyframes animation2 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 50px;
    top: 100%;
  }
}
@-moz-keyframes animation2 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 50px;
    top: 100%;
  }
}
@-ms-keyframes animation2 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 50px;
    top: 100%;
  }
}
@-o-keyframes animation2 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 50px;
    top: 100%;
  }
}
@keyframes animation2 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 50px;
    top: 100%;
  }
}
@-webkit-keyframes animation3 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-moz-keyframes animation3 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-ms-keyframes animation3 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-o-keyframes animation3 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@keyframes animation3 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-webkit-keyframes animation4 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-moz-keyframes animation4 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-ms-keyframes animation4 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-o-keyframes animation4 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@keyframes animation4 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 200px;
    top: 100%;
  }
}
@-webkit-keyframes animation5 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-moz-keyframes animation5 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-ms-keyframes animation5 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-o-keyframes animation5 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@keyframes animation5 {
  0% {
    left: 150px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-webkit-keyframes animation6 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 250px;
    top: 100%;
  }
}
@-moz-keyframes animation6 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 250px;
    top: 100%;
  }
}
@-ms-keyframes animation6 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 250px;
    top: 100%;
  }
}
@-o-keyframes animation6 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 250px;
    top: 100%;
  }
}
@keyframes animation6 {
  0% {
    left: 50px;
    top: -10%;
  }
  100% {
    left: 250px;
    top: 100%;
  }
}
@-webkit-keyframes animation7 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}
@-moz-keyframes animation7 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}
@-ms-keyframes animation7 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}
@-o-keyframes animation7 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}
@keyframes animation7 {
  0% {
    left: 300px;
    top: -10%;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}
@-webkit-keyframes animation8 {
  0% {
    left: 0px;
    top: -10%;
  }
  100% {
    left: 300px;
    top: 100%;
  }
}
@-moz-keyframes animation8 {
  0% {
    left: 0px;
    top: -10%;
  }
  100% {
    left: 300px;
    top: 100%;
  }
}
@-ms-keyframes animation8 {
  0% {
    left: 0px;
    top: -10%;
  }
  100% {
    left: 300px;
    top: 100%;
  }
}
@-o-keyframes animation8 {
  0% {
    left: 0px;
    top: -10%;
  }
  100% {
    left: 300px;
    top: 100%;
  }
}
@keyframes animation8 {
  0% {
    left: 0px;
    top: -10%;
  }
  100% {
    left: 300px;
    top: 100%;
  }
}
@-webkit-keyframes animation9 {
  0% {
    left: 200px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-moz-keyframes animation9 {
  0% {
    left: 200px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-ms-keyframes animation9 {
  0% {
    left: 200px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-o-keyframes animation9 {
  0% {
    left: 200px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@keyframes animation9 {
  0% {
    left: 200px;
    top: -10%;
  }
  100% {
    left: 150px;
    top: 100%;
  }
}
@-webkit-keyframes animation10 {
  0% {
    left: 250px;
    top: -10%;
  }
  100% {
    left: 100px;
    top: 100%;
  }
}
@-moz-keyframes animation10 {
  0% {
    left: 250px;
    top: -10%;
  }
  100% {
    left: 100px;
    top: 100%;
  }
}
@-ms-keyframes animation10 {
  0% {
    left: 250px;
    top: -10%;
  }
  100% {
    left: 100px;
    top: 100%;
  }
}
@-o-keyframes animation10 {
  0% {
    left: 250px;
    top: -10%;
  }
  100% {
    left: 100px;
    top: 100%;
  }
}
@keyframes animation10 {
  0% {
    left: 250px;
    top: -10%;
  }
  100% {
    left: 100px;
    top: 100%;
  }
}
@-webkit-keyframes animation99 {
  0% {
    left: 50px;
    top: -40%;
  }
  100% {
    left: 50px;
    top: 30%;
  }
}
@-moz-keyframes animation99 {
  0% {
    left: 50px;
    top: -40%;
  }
  100% {
    left: 50px;
    top: 30%;
  }
}
@-ms-keyframes animation99 {
  0% {
    left: 50px;
    top: -40%;
  }
  100% {
    left: 50px;
    top: 30%;
  }
}
@-o-keyframes animation99 {
  0% {
    left: 50px;
    top: -40%;
  }
  100% {
    left: 50px;
    top: 30%;
  }
}
@keyframes animation99 {
  0% {
    left: 50px;
    top: -40%;
  }
  100% {
    left: 50px;
    top: 30%;
  }
}
.game #finish {
  position: absolute;
  top: -40%;
  left: 50px;
  text-align: center;
  display: none;
  width: 200px;
  padding: 20px 50px;
  background: #fff;
  box-shadow: 4px 4px 4px #ccc;
  border-radius: 10px;
}
.game:hover #finish {
  animation: animation99 5s 30s linear;
  animation-fill-mode: forwards;
  display: block;
}
